@import "../../../App.scss";

.box {
  background: linear-gradient(rgba(#d6d6d6, 0.15), rgba(#454545, 0.15));
  height: 300px;
  width: 100%;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(#454545, 0.3);

  @include breakpoint($largeDesktop) {
    height: 220px;
  }
  @include breakpoint($laptop) {
    height: 180px;
  }
  @include breakpoint($tablet) {
    height: 220px;
  }
  @include breakpoint($largePhone) {
    border: 1px solid rgba(#454545, 0.3);
    height: 100px;
  }
}

.box_img {
  max-width: 65%;
  @include breakpoint($tablet) {
    max-width: 60%;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
