@import "../../../App.scss";

.box {
  background: linear-gradient(205deg, rgba(#c7c7c7, 0.1), rgba(#454545, 0.1));
  // background: rgba($softBlack, 0.1);
  height: 260px;
  width: 100%;
  border-radius: 30px;
  border-top: 3px solid rgba($background, 0.15);
  border-right: 3px solid rgba($background, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  background-clip: padding-box;
  padding: 10px;
  box-shadow: -5px 5px 10px rgba(#000000, 0.15);
  backdrop-filter: blur(2px);
  z-index: 1;

  @include breakpoint($largeDesktop) {
    height: 220px;
  }
  @include breakpoint($laptop) {
    height: 180px;
  }
  @include breakpoint($tablet) {
    height: 220px;
  }
  @include breakpoint($largePhone) {
    border: 1px solid rgba(#454545, 0.3);
    height: 100px;
  }
}

.box_img {
  max-width: 65%;
  @include breakpoint($tablet) {
    max-width: 60%;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
