@import "../../App.scss";

.skills_content {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include breakpoint($laptop) {
    gap: $paddingS;
  }
  @include breakpoint($tablet) {
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  @include breakpoint($largePhone) {
    gap: $paddingXS;
  }
}

.box_backdrop_container {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  gap: $paddingS;
  transform: rotate(25deg);
  justify-content: center;

  @include breakpoint($largeDesktop) {
    grid-template-columns: repeat(2, 220px);
  }
  @include breakpoint($largeLaptop) {
    transform: none;
  }
  @include breakpoint($laptop) {
    grid-template-columns: repeat(2, 180px);
    grid-template-rows: repeat(auto-fit, 180px);
    #box0,
    #box1,
    #box2,
    #box3,
    #box8,
    #box9,
    #box10,
    #box11 {
      display: none;
    }
  }

  @include breakpoint($tablet) {
    grid-template-columns: repeat(2, 220px);
    grid-template-rows: repeat(auto-fit, 220px);
    gap: $paddingXS;
  }
  @include breakpoint($largePhone) {
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(auto-fit, 100px);
  }
}

.skills_text_container {
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  gap: $paddingXS;
  max-width: 560px;
  @include breakpoint($normalDesktop) {
    max-width: 500px;
    gap: $paddingXS / 2;
  }
}

.skills_title {
  font-size: 6rem;
  @include breakpoint($laptop) {
    font-size: 4rem;
  }
  @include breakpoint($largePhone) {
    font-size: 2.5rem;
  }
}

li {
  margin-bottom: $marginXS;
}
