@import "../../../App.scss";
@import "../projects.scss";

#laptop {
  max-width: 100%;
  z-index: 1;
}

.laptop {
  position: relative;

  .project_img {
    position: absolute;
    left: 8%;
    top: 3.6%;
    z-index: -1;
    max-width: 85%;
  }
}

.phone,
#phone {
  position: relative;
  width: auto;
  max-width: 430px;
  height: 100%;
  z-index: 1;

  @include breakpoint($normalDesktop) {
    max-width: 330px;
  }
  @include breakpoint($largeLaptop) {
    max-width: 280px;
  }
  @include breakpoint($largePhone) {
    max-width: 80px;
  }

  .project_img {
    position: absolute;
    z-index: -1;
    max-width: 81%;
    top: 4.5%;
    left: 9.5%;
    height: auto;
  }
}

.tablet,
#tablet {
  position: relative;
  max-width: 560px;
  height: auto;
  z-index: 1;

  @include breakpoint($normalDesktop) {
    max-width: 460px;
  }
  @include breakpoint($largeLaptop) {
    max-width: 375px;
  }
  @include breakpoint($largePhone) {
    max-width: 150px;
  }

  .project_img {
    position: absolute;
    max-width: 84%;
    top: 11.5%;
    left: 8%;
    z-index: -1;
  }
}
