@import "../../App.scss";

.navigation {
  overflow-y: hidden;
  position: absolute;
  top: 100px;
  left: 100px;

  @include breakpoint($tablet) {
    top: 15px;
    left: 25px;
  }

  .main_page_num {
    @include breakpoint($tablet) {
      font-size: 1.5rem;
    }
  }

  @include breakpoint($largePhone) {
    display: none;
  }
}
