@import "../../App.scss";

.home_img_wrapper,
.title_wrapper {
  overflow-y: hidden;
}

.name {
  max-width: 100%;
}

.home_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 4rem;
  font-weight: 200;
  letter-spacing: 0.15em;
  @include breakpoint($tablet) {
    font-size: 3rem;
  }
  @include breakpoint($largePhone) {
    font-size: 1.8rem;
  }
}

.show_navigation_help_wrapper {
  overflow-x: hidden;
  position: absolute;
  bottom: 20%;

  @include breakpoint($tablet) {
    display: none;
  }
}

.show_navigation_help {
  display: flex;
  align-items: center;
  gap: 1em;
}

.arrow_left {
  transform: rotate(180deg);
}

.arrow_top {
  transform: rotate(-90deg);
}

.arrow_down {
  transform: rotate(90deg);
}

.navigation_text {
  font-weight: 300;
}
